{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn ">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn {{address}}">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row">
       {% for customer in add %}
    <div class="col-sm-6">
     <div class="card mb-3">
      <div class="card-body">
       <h3>Address {{forloop.counter}}</h3>
       <p>Name: {{customer.name}}</p>
       <p>Locality: {{customer.locality}}</p>
       <p>city: {{customer.city}}</p>
       <p>State: {{customer.state}}</p>
       <p>Zipcode: {{customer.zipcode}}</p>
      </div>
     </div>
    </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}