{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user.username}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <form method="POST" novalidate>
     <div class="mb-3">
      {% csrf_token %}
      {% for f in form %}
      <div class="form-group">
      {{f.label_tag}}{{f}} <small class="text-danger">{{f.errors|striptags}}</small>
     </div> <br>{% endfor %}
     </div>
     <input type="submit" value="Submit" class="btn btn-primary">
     {% if form.non_field_errors %}
     {% for error in form.non_field_errors %}
     <p class="alert alert-danger my-3">{{error}}</p>
     {% endfor %}
     {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}