{% extends 'app/base.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-md-6 offset-md-3">
     
   <h3>Customer Registration</h3>
   <hr>

   <form action="" method="post" novalidate class="shadow p-5">
    <div class="mb-3">
      {% if messages %}
      {% for message in messages %}
      <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
       {% endfor %}
       {% endif %}
 
      {% csrf_token %}
      {% for f in form %}
      <div class="form-group">
         {{f.label_tag}}{{f}} <small class="text-danger"> {{f.errors|striptags}}</small>
        </div> <br>{% endfor %}
        <small><a href="#">Forgot Password ?</a></small> <br>
         <input type="submit" class="btn btn-success mt-3"  value="Register">


    <div class="text-center text-primary fw-bold"><small>Existing User ? <a href="{% url 'login' %}"
       class="text-danger">Login Now</a> </small></div>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}