{% extends 'app/base.html' %}
{% load static %}
{% block title %}Empty Cart{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 
   
    <h3 class="text-center my-5">You have no product in your cart</h3>
   
     <div class="text-center align-self-center"><img src="{% static 'app/images/emptycart.png' %}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm w-25"> </div>
    
      <div>
        {% endblock main-content %}