{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
  <div class="list-group">
<a href="{% url 'mobile' %}" class="list-group-item list-group-item-action">All Mobiles</a>
<a href="{% url 'mobiledata' 'Samsung' %}" class="list-group-item list-group-item-action">Samsung</a>
<a href="{% url 'mobiledata' 'Realme' %}" class="list-group-item list-group-item-action">Realme</a>
<a href="{% url 'mobiledata' 'below' %}" class="list-group-item list-group-item-action">Below 10000</a>
<a href="{% url 'mobiledata' 'above' %}" class="list-group-item list-group-item-action">Above 10000</a>




  </div>
  </div>
  <div class="col-sm-8 offset-sm-1">
    <div class="row">
        {% for product in  mobiles %}
        <div class="col-sm-4 text-center mb-4">
        <a href="{% url 'product-detail' product.id %}" class="btn">
                <div class="item">
                <img src="{{product.image.url}}" alt="" height="300">
                <div class="fw-bold">{{product.title}}</div>
                <div class="fw-bold">{{product.discounted_price}}
                <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small>
                </div>
                </div>
        </a>


        </div>
        {% endfor %}
    </div>
  </div>
 </div>
</div>
{% endblock main-content %}