{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-primary">Orders</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    {% for order in op %}
    <hr>
    <div class="row">
        <div class="col-sm-2">
        <img src="{{order.product.image.url}}" alt="" srcset="" class="img-fluid" height="150" width="150">
        </div>
    <div class="col-sm-7">
        <p>Product: {{order.product.title}}</p>    
        <p>Quantity: {{order.quantity}}</p>    
        <p>Price: {{order.total}}</p>    
    </div>
    <div class="col-sm-3">
        <p><span class="fw-bold"> Order Status</span>: <span class="text-bright">{{order.status}}</span></p>
        {% if order.status == "Pending" %}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="20"
            aria-valuemin="0" aria-valuemax="100" style="width:20%">
            </div>
          </div>
        {% elif order.status == "Packed" %}
        <div class="progress">
            <div class="progress-bar bf-info" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" style="width:40%">
            </div>
          </div>
          {% elif order.status == "ON The Way" %}
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" style="width:70%">
            </div>
          </div>
          {% elif order.status == "Delivered" %}
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width:100%">
            </div>
          </div>
        {% endif %}
    </div>
  </div>
  {% endfor %}
 </div>
</div>
{% endblock main-content %}