{% extends 'app/base.html' %}
{% load static %}
{% block title %}PasswordChangeDone{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user.username}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
      <h3>Password Change Successfully</h3>
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
      <div class="mt-5"><iframe src="https://giphy.com/embed/Q81NcsY6YxK7jxnr4v" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
          </div>
    </div>
  </div>
 </div>
</div>
{% endblock main-content %}