{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{item.image.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>Product Title: {{item.title}}</h2>
   <hr>
   <p>{{item.description}}</p> <br>
   <h4>Rs. {{item.discounted_price}} <small class="fw-light text-decoration-line-through">{{item.selling_price}}</small></h4> <br>
    {% if exist %}
    <a href="{% url 'showcart' %}" class="btn btn-primary shadow px-5 py-2">Go-to-cart</a>
    {% else %}
   <form action="/add-to-cart" class="d-inline">
    <input type="hidden" name="prod_id" value="{{item.id}}" id="prod_id">
       <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
   </form>
   {% endif %}

   <a href="{% url 'buy-now' %}" class="btn btn-danger shadow px-5 py-2 ms-4">Buy Now</a>
   <h5 class="mt-5">Available Offers</h5>
   <ul>
    <li>Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit</li>
    <li>Special Price Get extra ₹3000 off (price inclusive of discount)</li>
    <li>No cost EMI ₹1,667/month. Standard EMI also available</li>
    <li>Partner Offer ₹2000 Flipkart Gift Card on Every 1000th Transaction with a new Visa Debit/Credit Card</li>
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}