{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <h3>Welcome {{request.user.username}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn {{profile}}">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
   <form action="" method="POST" novalidate>
    {% if messages %}

    {% for message in messages %}
     <p class="alert alert-{{message.tags}} my-3">{{message}}</p>
     {% endfor %}
    {% endif %}
     
    {% csrf_token %}
    {% for f in form %}
    <div class="form-group">
    {{f.label_tag}}{{f}} <small class="text-danger"> {{f.errors|striptags}}</small>
   </div> <br>{% endfor %}
   <button type="submit" class="btn btn-primary">Submit</button>
      
       {% if form.non_field_errors %}
       {% for error in form.non_field_errors %}
       <p class="alert alert-danger my-3">{{error}}</p>
       {% endfor %}
       {% endif %}
   
     
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}