{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Successfully{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-md-6 offset-md-3">
   <h3 class="test-success">Password Reset Successfully</h3>
   
  
  </div>
 </div>
</div>
{% endblock main-content %}