{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-md-6 offset-md-3">
   <h3>An email has been send with instructions to reset password <b>Check Your Email</b></h3>
   
  
  </div>
 </div>
</div>
{% endblock main-content %}