{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Confirm{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-md-6 offset-md-3">
   <h3>Reset Confirm</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    {% for f in form %}
    <div class="form-group">
    {{f.label_tag}}{{f}} <small class="text-danger"> {{f.errors|striptags}}</small>
   </div> <br>{% endfor %}
   <input type="submit" class="btn btn-success mt-3"  value="Confirm">
       {% if form.non_field_errors %}
       {% for error in form.non_field_errors %}
       <p class="alert alert-danger my-3">{{error}}</p>
       {% endfor %}
       {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}